import { Action } from 'redux';
import { __COMPONENT___REDUCER_KEY } from './constants';

export interface IAction extends Action<__COMPONENT___REDUCER_KEY.ACTION> {
    readonly params?: string;
}

export const MakeIAction = (params?: string): IAction => ({
    type: __COMPONENT___REDUCER_KEY.ACTION,
    params,
});

export type AdminActions = IAction; // | AnotherAction | ...
