import 'enzyme';
import React from 'react';
import { shallow } from 'enzyme';
import __Component__ from '../index';
describe('<__Component__ />', () => {
    it('renders and should match snapshot', () => {
        const component = shallow(<__Component__ />);
        expect(component).toMatchSnapshot();
    });
});
