.sider-bar {
    width: 250px;
    background-color: white;
    transition: 1s;
    display: flex;
    flex-direction: column;
    &.show {
        color: black;
        box-shadow: 10px 0 8px 0 rgba(0, 0, 0, 0.2);
    }

    &.hide {
        margin-left: -250px;
    }
    .title-text {
        padding-left: 10px;
    }
    &__list-item {
        padding-left: 10px;
        padding-right: 10px;
        flex-grow: 1;
        .item-detail {
            margin-bottom: 10px;
            padding-bottom: 2px;
            border-bottom: 2px solid black;
            text-decoration: none;
            color: black;
            display: block;
        }
    }
    &__footer {
        p {
            margin-bottom: 0;
        }
    }
}
