.error-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
    .image-container {
        width: 150px;
        min-width: 150px;
        height: 150px;
        margin-right: 20px;
        &__image {
            width: 100%;
            height: 100%;
        }
    }
}
